[submodule "libs"]
	path = libs
	url = https://github.com/willian0komarcheski/libs.git
[submodule "src/main/java/com/example/libs"]
	path = src/main/java/com/example/libs
	url = http://github.com/willian0komarcheski/libs.git
